@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: Lato, Helvetica, sans-serif;
}

.text-justify {
    text-align: justify;
}

.purple {
    background-color: #8e4e99;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.quick-link {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}