@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: Lato, Helvetica, sans-serif;
}

.text-justify {
    text-align: justify;
}

.purple {
    background-color: #8e4e99;
}

/* Nav Bar */

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.logo:hover {
    color: #57245E;
    background-color: #F2EDF7;
}

.quick-link {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.quick-link:hover {
    color: #fff;
    background-color: #57245E;
}

/* Calculator */

#region-chooser p {
    display: inline;
}

#region-chooser button {
    background-color: #F2EDF7;
    border-color: #8e4e99;
}

#region-chooser button:hover {
    background-color: #8e4e99;
}
